<mat-card class="outer-card">
  <mat-card-header>
    <!--
      slot for the handle

      ng-content because we pass in the drag handle into the child component
      so this allows us to drag the board from within the boardComponent itself
    -->
    <ng-content></ng-content>

    <mat-card-title>
      {{board.title}}
    </mat-card-title>

    <mat-card-subtitle>  
      {{board.id}}
    </mat-card-subtitle>

  </mat-card-header>
  <div class="tasks"
       cdkDropList
       cdkDropListOrientation="vertical"
       (cdkDropListDropped)="taskDrop($event)">
    <div class="inner-card"
         cdkDrag
         *ngFor="let task of board.tasks; let i = index">
         <mat-card [ngClass]="task.label"></mat-card>
    </div>
    >
  </div>
</mat-card>
