<router-outlet></router-outlet>
<div class="card">
  <div class="p-grid p-formgrid p-fluid my-row">
    <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0 my-col">

      <div class="p-field-checkbox">
        <p-checkbox name="city1"
                    value="Chicago"
                    [(ngModel)]="checked"
                    [binary]="true"
                    (onChange)="onCumpleServicioSocial($event)"
                    inputId="city1"></p-checkbox>
        <label for="city1">Chicago</label>
      </div>

    </div>
  </div>

</div>
