.my-container {
  border: 1px solid green;
}

.my-row {
  border: 3px solid red;
}

.my-col {
  border: 3px dotted blue;
}

.my-vertical-row {
  border: 3px solid red;
  height: 300px
}

.my-col {
  border: 3px dotted blue;
}
