/****************************************************************************
 ** @license
 ** This demo file is part of yFiles for HTML 2.1.0.6.
 ** Copyright (c) 2000-2019 by yWorks GmbH, Vor dem Kreuzberg 28,
 ** 72070 Tuebingen, Germany. All rights reserved.
 **
 ** yFiles demo files exhibit yFiles for HTML functionalities. Any redistribution
 ** of demo files in source code or binary form, with or without
 ** modification, is not permitted.
 **
 ** Owners of a valid software license for a yFiles for HTML version that this
 ** demo is shipped with are allowed to use the demo source code as basis
 ** for their own yFiles for HTML powered applications. Use of such programs is
 ** governed by the rights and conditions as set out in the yFiles for HTML
 ** license agreement.
 **
 ** THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
 ** WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 ** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
 ** NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 ** SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 ** TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 ** PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 ** LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 ** NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 ** SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 **
 ***************************************************************************/
input[type='range'] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.demo-properties label.option-label {
  width: 40%;
}

.demo-properties .demo-form-block input[type='range'] {
  width: 45%;
}

.layer-label-white {
  color: white;
}

.layer-label-black {
  color: black;
}

.reset-node-placer-white {
  width: 21px;
  height: 21px;
  background: transparent url('reload-white-16.svg') no-repeat center;
  vertical-align: bottom;
  border: none;
  float: right;
}

.reset-node-placer-black {
  width: 21px;
  height: 21px;
  background: transparent url('reload-black-16.svg') no-repeat center;
  vertical-align: bottom;
  border: none;
  float: right;
}

.settings-button {
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  border: none;
}

.icon-mirror {
  background-image: url('mirror-16.svg');
}

.mirrored {
  transform: scaleX(-1);
}

.rotated {
  transform: rotate(90deg);
}

.node-placer-settings {
  margin-top: 20px;
}

.option-element {
  width: 55%;
}

#layer-section {
  background-color: crimson;
  padding: 5px;
}

#rotation-buttons {
  display: flex;
  justify-content: space-between;
}

#rotation-buttons > .settings-button {
  width: 60px;
  height: 60px;
  margin: 0;
  background-size: 40px;
}

#layer-label {
  font-weight: bold;
  font-size: larger;
  margin-right: 10px;
}

#layer-index {
  width: 50px;
}

#select-node-placer {
  width: 75%;
}

#select-node-placer-label {
  width: 20%;
}

#previewComponent {
  height: 25%;
  background-color: white;
  margin-top: 20px;
}
