/****************************************************************************
 ** @license
 ** This demo file is part of yFiles for HTML 2.1.0.6.
 ** Copyright (c) 2000-2019 by yWorks GmbH, Vor dem Kreuzberg 28,
 ** 72070 Tuebingen, Germany. All rights reserved.
 **
 ** yFiles demo files exhibit yFiles for HTML functionalities. Any redistribution
 ** of demo files in source code or binary form, with or without
 ** modification, is not permitted.
 **
 ** Owners of a valid software license for a yFiles for HTML version that this
 ** demo is shipped with are allowed to use the demo source code as basis
 ** for their own yFiles for HTML powered applications. Use of such programs is
 ** governed by the rights and conditions as set out in the yFiles for HTML
 ** license agreement.
 **
 ** THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
 ** WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 ** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
 ** NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 ** SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 ** TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 ** PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 ** LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 ** NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 ** SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 **
 ***************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

dt {
  font-weight: bold;
  margin-top: 4px;
  color: #333333;
}

dt img {
  vertical-align: bottom;
}

dd {
  margin-left: 10px;
}

#propertiesView {
  padding: 10px;
}

#propertiesView td {
  padding: 3px 0;
}

#propertiesView td:first-of-type {
  text-transform: uppercase;
  color: #ffaf00;
  font-weight: bold;
  padding-right: 20px;
}

#propertiesView td a {
  color: #407fbf;
  text-decoration: none;
}

#propertiesView td a:hover {
  color: #ffaf00;
}

.user-detail {
  position: relative;
  height: 50px;
  margin: 10px 0;
}

.user-detail svg {
  position: absolute;
  top: 0;
  left: 0;
}

.user-detail h2 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 5px 60px;
  color: #336699;
}

.user-detail div {
  margin-left: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.hoverable {
  fill: #fff;
  fill-opacity: 0;
  transform: scale(1.25);
  transform-origin: 142px 50px;
  transition: all 0.1s ease-out;
}

.yfiles-highlighted .hoverable {
  fill: #249ae7;
  fill-opacity: 1;
  transform: scale(1);
}

.yfiles-focused .hoverable {
  fill: #ffbb33;
  fill-opacity: 1;
  transform: scale(1);
}
