body {
    margin: 0;
}
.container {
    border: 6px solid black;
    display: flex;

    /* 
    flex direction establishes the main axis which in turn jbesides 
    how the flex items are placed inside the flex container 
    by default the main axis flows from left to right 

    flex-direction sets the direction of the main axis thereby controlling how the items are placed in a container

    ROW is default value. sets the MAIN AXIS from left to right
    ROW-REVERSE sets the MAIN AXIS direction from right to left
    COLUMN the main axis flows from top to bottom so the items are now stacked on top of each other 
    COLUMN-REVERSE stacks the items in the reverse order  
    */
    flex-direction: row; 
    /* flex-direction: row | row-reverse | column | column-reverse  */
}
.flex-item {
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item-1 {
    background-color: #B4BF35;
}
.item-2 {
    background-color: #B95F21;
}
.item-3 {
    background-color: #1C4C56;
}
.item-4 {
    background-color: #CfB276;
}
.item-5 {
    background-color: #6B0803;
}
.item-6 {
    background-color: #1C4C56;
}
.item-7 {
    background-color: #B95F21;
}
.item-8 {
    background-color: #01243A;
}
.item-9 {
    background-color: #AAD041;
}