/****************************************************************************
 ** @license
 ** This demo file is part of yFiles for HTML 2.1.0.6.
 ** Copyright (c) 2000-2019 by yWorks GmbH, Vor dem Kreuzberg 28,
 ** 72070 Tuebingen, Germany. All rights reserved.
 **
 ** yFiles demo files exhibit yFiles for HTML functionalities. Any redistribution
 ** of demo files in source code or binary form, with or without
 ** modification, is not permitted.
 **
 ** Owners of a valid software license for a yFiles for HTML version that this
 ** demo is shipped with are allowed to use the demo source code as basis
 ** for their own yFiles for HTML powered applications. Use of such programs is
 ** governed by the rights and conditions as set out in the yFiles for HTML
 ** license agreement.
 **
 ** THIS SOFTWARE IS PROVIDED ''AS IS'' AND ANY EXPRESS OR IMPLIED
 ** WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
 ** MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN
 ** NO EVENT SHALL yWorks BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
 ** SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 ** TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR
 ** PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF
 ** LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING
 ** NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
 ** SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 **
 ***************************************************************************/
.demo-properties {
  top: auto !important;
  position: relative !important;
  height: auto !important;
  min-width: 365px;
}
#loadingIndicator {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 200px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -100px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFFFFF;
  padding-top: 80px;
  text-align: center;
}
#detailLevelPopup {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 100px;
  margin-top: -50px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  color: #646464;
  padding-top: 10px;
  text-align: center;
  font-size: 30pt;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#detailLevelPopup.visible {
  opacity: 1;
}
aside input {
  width: auto !important;
  margin-right: 5px;
}
aside label {
  vertical-align: text-bottom;
  margin: .75ex 0 .25ex 0;
  display: inline-block
}
.form-border {
  padding: 10px;
  margin: 15px;
  border: 1px solid lightgray;
}
.checkbox-form label {
  display: inline-block !important;
  vertical-align: top !important;
  margin-top: auto;
  margin-bottom: 5px;
}
.control-button {
  overflow: visible;
  margin-right: 8px !important;
  margin-bottom: 11px;
  width: 70px !important;
  height: 70px !important;
  padding: 4px;
}
.control-button svg {
  fill: white;
  stroke-width: 1;
}
.button-content.button-content {
  background: none no-repeat 1px 50%;
  min-width: 18px;
  display: inline-block;
  height: auto;
}
.control-description {
  font-size: 0.85em;
}
.disabled-button {
  background-color: #bbb !important;
}
.disabled-button svg {
  opacity: 0.5;
  stroke-width: 0;
}
.selectionBtn {
  width: 70px !important;
  margin-right: 6px !important;
  line-height: 1.5em;
}
.demo-properties fieldset {
  border: 1px solid #888;
  background: #FFFFFF;
  margin-bottom: 1ex;
}
.demo-properties label {
  display: inline-block !important;
}
.information {
  display: block;
  margin-bottom: 0.25em;
}
.information label,input {
  margin: 0;
}
.selection-title td {
  text-align: center;
  padding-right: 8px;
}
.demo-sidebar select {
  width: 100%;
}
#fpsMeter {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0;
}
#gt40 {
  position: absolute;
  top: 9px;
  left: 6px;
  font-size: 14px;
  color: white;
}
#lt20 {
  position: absolute;
  top: 52px;
  left: 6px;
  font-size: 14px;
  color: white;
}
legend {
  font-weight: bold;
}
#tooltip {
  position: absolute;
  margin: 5px;
  width: 300px;
  z-index: 999;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
#tooltip p {
  padding: 5px;
  margin: 5px 0;
}
.tooltip-gray {
  border: 2px solid #6c6c6c;
}
.tooltip-lightgray {
  border: 2px solid #adadad;
}
.tooltip-green {
   border: 2px solid #6da663;
 }
.info-visible {
  opacity: 1;
}
.info-hidden {
  opacity: 0;
}
.unrecommended::after {
  content: "";
  background-image: url("exclamation.svg");
  position: absolute;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
.warning::after {
  content: "";
  background-image: url("warning.svg");
  position: absolute;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}
.warning.unrecommended::after {
  content: "";
  background: url("warning-unrecommended.svg") no-repeat;
  position: absolute;
  background-size: 38px 16px;
  width: 46px;
  height: 20px;
}

.warningToolTip {
  margin-top: 10px;
}
.warningIcon {
  font-weight: bold;
  font-size: 24px;
  display: inline;
  width: 10%;
  float: left;
  line-height: 30px;
}
#unrecommended-text {
  color: red;
}
#warning-text {
  color: orange;
}
.arrow {
  display: inline-block;
  background: #EFEFEF;
  padding: 15px;
}
.arrow:after {
  content: '';
  border: 10px solid transparent;
  border-left-color: #EFEFEF;
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -10px;
}
.demo-textcontent {
  height: auto !important;
}
#detailLevelIndicator {
  color: #585858;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #efefef;
  font-size: 12pt;
  text-align: center;
  padding: 2px;
}
.background-highlight {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-animation: highlight 2s;
  -moz-animation: highlight 2s;
  -ms-animation: highlight 2s;
  -o-animation: highlight 2s;
  animation: highlight 2s;
}
.styleSample {
  position: relative;
}
.styleSample::after {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  content:"";
  position: absolute;
  margin: 4px 0 0 5px;
}
.styleSample.simpleSvg::after {
  background-color: rgb(140, 18, 4);
}
.styleSample.complexSvg::after {
  background-image: url("complexSvg.svg");
}
.styleSample.simpleCanvas::after {
  background-color: rgb(6, 93, 147);
}
.styleSample.complexCanvas::after {
  background-image: url("complexCanvas.svg");
}
.styleSample.simpleWebgl::after {
  background-color: rgb(91, 81, 22);
}

@-webkit-keyframes highlight {
  from { background-color: rgb(255, 212, 0); }
  to { background-color: rgba(255, 255, 255, 0.6); }
}
@-moz-keyframes highlight {
  from { background-color: rgb(255, 212, 0); }
  to { background-color: rgba(255, 255, 255, 0.6); }
}
@-ms-keyframes highlight {
  from { background-color: rgb(255, 212, 0); }
  to { background-color: rgba(255, 255, 255, 0.6); }
}
@-o-keyframes highlight {
  from { background-color: rgb(255, 212, 0); }
  to { background-color: rgba(255, 255, 255, 0.6); }
}
@keyframes highlight {
  from { background-color: rgb(255, 212, 0); }
  to { background-color: rgba(255, 255, 255, 0.6); }
}

.demo-sidebar button {
  height: 29px;
  padding: 3px;
  border: 1px solid #888;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #888;
  background-color: #ddd;
}
.demo-sidebar button:hover {
  background-color: #bbb !important;
  cursor: pointer;
}
.demo-sidebar.demo-right {
  width: 368px;
  line-height: 135%;
}
.demo-right-hidden .demo-sidebar.demo-right {
  right: -368px;
}
@media screen and (max-width: 960px) {
  .demo-sidebar {
    width: 100% !important;
  }
  .demo-right-hidden .demo-sidebar.demo-right {
    right: -100% !important;
  }
  .demo-hide-right-when-small:not(.demo-right-hidden) .demo-content {
    right: 0;
  }
}
.demo-has-right .demo-content {
  right: 368px;
}
.demo-right-hidden .demo-content {
  right: 0px;
}
#fpsContainer {
  position: relative;
  height: 75px;
  float: right;
  width: 200px;
  display: inline-block;
}
#fpsDescription {
  width: 120px;
  float: left;
  margin-top: 5px;
}
#no-webgl-support {
  display: none;
  border-left: 4px solid red;
  padding: 2px 5px;
  font-weight: bold;
}
