<h2>{{name}}</h2>
<h2>lowercase -> {{name | lowercase}}</h2>
<h2>uppercase -> {{name | uppercase}}</h2>

<h2>slice:startsFromIndex: LimitNotIncluded 0 indexed</h2>
<h2>{{name}} -> slice:3: 5 -> {{name | slice:3:5}}</h2>

<h2>{{message}}</h2>
<h2>titlecase -> {{message | titlecase}}</h2>

<h2>JSON pipe</h2>
<h2>{{person | json}}</h2>

<h2>Number pipe</h2>
<h2>'MINIMUM_NUMBER_OF_INTEGER_DIGITS.MINIMUM_NUMBER_OF_DECIMAL_DIGITS-MAXIMUM_NUMBER_OF_DECIMAL_DIGITS'
</h2>
<h2>'1.2-3' -> {{5.678 | number:'1.2-3'}}</h2>
<h2>'3.4-5' -> {{5.678 | number:'3.4-5'}}</h2>
<h2>'3.1-2' -> {{5.678 | number:'3.1-2'}}</h2>

<h2>percent pipe</h2>
<h2>{{0.25|percent}}</h2>

<h2>currency pipe</h2>
<h2>{{0.25|currency}}</h2>
<h2>{{0.25|currency:'GBP'}}</h2>
<h2>code -> {{0.25|currency:'GBP':'code'}}</h2>


<h2>date pipe</h2>
<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>
