@import url('https://fonts.googleapis.com/css?family=News+Cycle');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
template {
  display: none;
}
html,
body {
  margin: 0;
}
body {
  font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Calibri, Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 16px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
.header-like dt {
  color: #336699;
  font-weight: 400;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
span.angle-right {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath fill='none' stroke='%23fff' stroke-width='10' d='M20 20l30 30-30 30'/%3E%3C/svg%3E") no-repeat 100% 100%;
  padding: 16px 16px 16px 16px;
  margin-left: 8px;
  height: 15px;
}
header .logo {
  padding: 28px 28px 19px 28px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-77.706 -29.575 512 512'%3E%3Ccircle fill='%2369C' cx='177.3' cy='267.6' r='177.3'/%3E%3Cpath fill='%23FFF' d='M198.4 0c-32.7 0-62.2 41.5-76.2 86.3 1.3 6 5.3 10.7 12.7 8.7 14-28 25.3-50.8 38.7-50.8 12.7 0 24 26 25.4 100.3.8 57-4 118.4-13.3 152.5-12.7 44.2-42 86.3-58.8 100.3-16.2 13.4-28.2 18.8-37 18.8-10.6 0-16.6-8.6-18.7-12-4.6-6.7-11.3-10.7-18-10.7-14.7 0-26.8 12-26.8 28.8s13.4 31 34.8 31 55-10.8 104.4-67.7c53.5-61 77-105 110.3-160.5 59.5-101 78.3-187.3 77.6-204 0-7.4-2-10.7-6-13.4-5.4-3.4-14-6-18.7-6-4.8 0-15 1.3-16.2 20.7-.7 17.5-10.7 85-24.7 124-14.7 40.6-34 82-56 115H229c9.3-55.6 10.7-104.4 10-147.3C238 67 232.5 0 198.4 0'/%3E%3C/svg%3E") no-repeat 100% 100%;
}
.footer-block.logo {
  width: 160px;
  height: 200px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-77.706 -29.575 512 512'%3E%3Ccircle fill='%23706f6f' cx='177.3' cy='267.6' r='177.3'/%3E%3Cpath fill='%23FFF' d='M198.4 0c-32.7 0-62.2 41.5-76.2 86.3 1.3 6 5.3 10.7 12.7 8.7 14-28 25.3-50.8 38.7-50.8 12.7 0 24 26 25.4 100.3.8 57-4 118.4-13.3 152.5-12.7 44.2-42 86.3-58.8 100.3-16.2 13.4-28.2 18.8-37 18.8-10.6 0-16.6-8.6-18.7-12-4.6-6.7-11.3-10.7-18-10.7-14.7 0-26.8 12-26.8 28.8s13.4 31 34.8 31 55-10.8 104.4-67.7c53.5-61 77-105 110.3-160.5 59.5-101 78.3-187.3 77.6-204 0-7.4-2-10.7-6-13.4-5.4-3.4-14-6-18.7-6-4.8 0-15 1.3-16.2 20.7-.7 17.5-10.7 85-24.7 124-14.7 40.6-34 82-56 115H229c9.3-55.6 10.7-104.4 10-147.3C238 67 232.5 0 198.4 0'/%3E%3C/svg%3E") no-repeat 100% 100%;
}
a {
  color: #336699;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
strong,
b {
  font-weight: bold;
  font-weight: 500;
}
pre {
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-left: 5px solid #e1e1e1;
  line-height: 1.5em;
  overflow: auto;
  font-style: normal;
  font-family: monospace;
}
code {
  background-color: #f7f7f7;
  padding: 1px 4px;
  border: 1px solid #e1e1e1;
}
.code-comment {
  color: #6da663;
}
.code-keyword {
  color: #5c97bf;
}
.important {
  padding: 10px 20px;
  background-color: #fbeeed;
  border-left: 5px solid #d9534f;
  margin-bottom: 10px;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -ms-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
.highlight-important {
  background-color: #ffbebe;
}
.note {
  padding: 10px 20px;
  background-color: #e1eff7;
  border-left: 5px solid #5c97bf;
  margin-bottom: 10px;
}
.warning {
  padding: 10px 20px;
  background-color: #ffebee;
  border-left: 5px solid #b71c1c;
  margin-bottom: 10px;
}
header {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: #336699;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
header a {
  color: white;
}
header .logo {
  width: 60px;
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
}
header .title {
  color: white;
  display: flex;
  font-size: 1.2em;
}
header .title #header-angle {
  height: 60px;
  width: 30px;
  margin-left: 5px;
}
body > .content {
  line-height: 1.5em;
  padding-top: 20px;
}
.main {
  display: flex;
}
.main .content {
  padding: 20px 20px;
}
@media screen and (max-width: 900px) {
  .main .content {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 1100px) {
  .main {
    flex-direction: column;
  }
}
.content {
  line-height: 140%;
}
.content ul {
  padding-left: 1.3em;
}
.content dd {
  margin-left: 1.3em;
  margin-top: 0.2em;
}
.content li {
  margin-top: 0.7em;
}
.content li :first-child {
  margin-top: 0;
}
.content li > ul,
.content li > ol,
.content li li,
.content li > p,
.content dd > p {
  margin: 0.4em 0;
}
.content .header-like dt {
  margin: 1em 0 0.4em;
}
.content .header-like dt :first-child {
  margin-top: 0;
}
.content dt {
  margin-top: 0.4em;
  font-weight: 500;
}
.content dt :first-child {
  margin-top: 0;
}
.content h2 {
  margin-top: 0;
  margin-bottom: 0.7em;
}
.content h3 {
  margin-top: 1.1em;
  margin-bottom: 0.4em;
}
.content h4 {
  margin-bottom: 0.4em;
}
.content h1:first-child {
  margin-top: 0.5em;
  line-height: 1.2;
}
.content td p.tableblock {
  margin: 0;
}
.content table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
.content .background-blue code,
.content .background-blue .warning {
  background: rgba(214, 228, 236, 0.69);
}
.content .background-blue .api-table thead,
.content .background-blue .api-table tr:nth-child(even) {
  background: rgba(214, 228, 236, 0.69);
}
.content .api-table thead,
.content .api-table tr:nth-child(even) {
  background: #f7f7f7;
}
.content .api-table th,
.content .api-table td {
  text-align: start;
  vertical-align: top;
  padding: 0.3em 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .api-table thead th:nth-child(1) {
  width: 15em;
}
.content .api-table th {
  font-weight: 400;
}
.content.no-block h1 {
  margin: 1.5em 0 1em;
}
.content.no-block h1:first-child {
  margin-top: 0.5em;
}
.content.no-block h2 {
  margin-top: 1em;
}
.background-blue {
  background-color: #e1eff7;
}
.space-footer {
  padding-bottom: 50px;
}
.block-space-header {
  padding-bottom: 120px;
  padding-top: 50px;
}
@media screen and (max-width: 900px) {
  .block-space-header {
    padding-bottom: 100px;
  }
}
@media screen and (max-height: 800px) {
  .block-space-header {
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 900px) {
  .block-space-header {
    padding-bottom: 50px;
  }
}
@media screen and (max-height: 600px) {
  .block-space-header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.block-space {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media screen and (max-width: 900px) {
  .block-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-height: 800px) {
  .block-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 900px) {
  .block-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-height: 600px) {
  .block-space {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.content-centered {
  margin: 0 auto;
  width: 800px;
}
@media screen and (max-width: 1500px) {
  .content-centered {
    width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .content-centered {
    width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .content-centered {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .content-centered {
    width: 250px;
  }
}
.header-content-centered {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}
@media screen and (max-width: 1500px) {
  .header-content-centered {
    width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .header-content-centered {
    width: 600px;
  }
}
@media screen and (max-width: 900px) {
  .header-content-centered {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .header-content-centered {
    width: 250px;
  }
}
.header-icon {
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #6699cc;
  margin: 20px;
}
.header-icon:hover {
  background-color: #ff8800;
  transition: 0.5s;
}
@media screen and (max-width: 1500px) {
  .header-icon {
    width: 150px;
    height: 150px;
    margin: 20px 70px;
  }
}
@media screen and (max-width: 900px) {
  .header-icon {
    width: 100px;
    height: 100px;
    margin: 20px 40px;
  }
}
.list-dot {
  list-style: none;
}
.block-content-small-icon {
  margin-left: 20px;
}
.demos-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3e%3cstyle%3e.st0%7bdisplay:none%7d.st1%7bdisplay:inline;fill:%23fff%7d.st2%7bfill:none;stroke:%23fff;stroke-miterlimit:10%7d.st2,.st3%7bdisplay:inline%7d.st4%7bfill:%23fff%7d.st5%7bdisplay:inline%7d.st5,.st7%7bfill:none%7d%3c/style%3e%3cg id='documentation' class='st0'%3e%3cpath class='st1' d='M201.1 64H99.3c-7.6 0-13.9 6.2-13.9 13.9v145.7c0 7.6 6.2 13.9 13.9 13.9h101.8c7.6 0 13.9-6.2 13.9-13.9V77.9c0-7.7-6.3-13.9-13.9-13.9zm-1 154.6c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.8-1 2.5zm0-18.6c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5z'/%3e%3c/g%3e%3cg id='tutorials' class='st0'%3e%3cpath class='st1' d='M251.9 195.9V64H46.1v131.9h75.5v15.4H99.3V237H197v-25.7h-22.3v-15.4h77.2zm-199.4-6.8V72.6h193v116.5h-193z'/%3e%3cpath class='st1' d='M156.8 143.7v13.6c0 3.8-2.8 6.9-6.3 6.9H147c-3.4 0-6.3-3.1-6.3-6.9v-13.6'/%3e%3cpath class='st2' d='M167.1 132.7h17M113.9 132.7h17M133.3 123.6l-14.7-8.5M140 117l-8.6-14.8M149 114.6V97.5M158 117l8.6-14.8M164.7 123.6l14.7-8.5'/%3e%3ccircle class='st1' cx='148.6' cy='133.5' r='15'/%3e%3c/g%3e%3cg id='help' class='st0'%3e%3cg class='st3'%3e%3cpath class='st4' d='M139.4 195.1c-.1-2.8-.1-4.9-.1-6.3 0-8.2 1.2-15.3 3.5-21.2 1.7-4.5 4.4-9 8.2-13.6 2.8-3.3 7.8-8.2 15-14.6s11.9-11.5 14.1-15.3c2.2-3.8 3.2-7.9 3.2-12.4 0-8.1-3.2-15.3-9.5-21.4-6.3-6.1-14.1-9.2-23.3-9.2-8.9 0-16.3 2.8-22.3 8.4-6 5.6-9.9 14.3-11.7 26.1L95 113.1c1.9-15.9 7.7-28 17.2-36.4s22.3-12.7 38-12.7c16.6 0 29.9 4.5 39.8 13.6s14.9 20 14.9 32.8c0 7.4-1.7 14.3-5.2 20.5-3.5 6.3-10.3 13.9-20.4 22.9-6.8 6-11.3 10.5-13.3 13.3s-3.6 6.1-4.6 9.9c-1 3.7-1.6 9.7-1.7 18.1h-20.3zm-1.3 41.9v-23.8h23.8V237h-23.8z'/%3e%3c/g%3e%3c/g%3e%3cg id='continue' class='st0'%3e%3cpath class='st5' d='M190 236l40-86-40-86h-40l40 86-40 86zM110 236l40-86-40-86H70l40 86-40 86z'/%3e%3c/g%3e%3cg id='dismiss' class='st0'%3e%3cpath class='st5' d='M70 64l57 86-57 86h40l40-62 40 62h40l-54-86 54-86h-40l-39.3 63.1-40-64z'/%3e%3c/g%3e%3cg id='play' class='st0'%3e%3cg class='st3'%3e%3cpath class='st4' d='M225 150L91 237V64z'/%3e%3c/g%3e%3c/g%3e%3cg id='Ebene_7' class='st0'%3e%3cpath fill='%2383cbff' d='M0 0h300v300H0z'/%3e%3cg class='st3'%3e%3cpath class='st4' d='M106 129.1H62.2c-6.1 0-11.2 3.1-11.2 6.9v-25.1c0-3.8 5-6.9 11.2-6.9h39.2c-.1 1-.1 2-.1 3 0 7.9 1.7 15.4 4.7 22.1z'/%3e%3c/g%3e%3cg class='st3'%3e%3cpath class='st4' d='M250 110.9V136c0-3.8-5.1-6.9-11.2-6.9H205c3-6.7 4.7-14.2 4.7-22.1 0-1 0-2-.1-3h29.1c6.2 0 11.3 3.1 11.3 6.9z'/%3e%3c/g%3e%3cg class='st3'%3e%3cpath class='st4' d='M250 144.8v85.3c0 5.4-5.4 9.8-12 9.8H63c-6.6 0-12-4.4-12-9.8v-85.3c0-5.4 5.4-9.8 12-9.8h175c6.6 0 12 4.4 12 9.8z'/%3e%3c/g%3e%3cpath class='st1' d='M203.1 105.2c-1.5-25.3-22.5-45.4-48.1-45.4s-46.7 20.1-48.1 45.4c-.1.9-.1 1.9-.1 2.8 0 7.5 1.7 14.6 4.8 20.9h7.4c-.7-1.5-1.1-3.1-1.1-4.9 0-6.2 5-11.2 11.2-11.2 6.2 0 11.2 5 11.2 11.2 0 1.7-.4 3.4-1.1 4.9h12.5c1.2-.5 2.6-.7 4-.7s2.8.3 4 .7h12.7c-.7-1.5-1.1-3.1-1.1-4.9 0-6.2 5-11.2 11.2-11.2 6.2 0 11.2 5 11.2 11.2 0 1.7-.4 3.4-1.1 4.9h6c3.1-6.3 4.8-13.4 4.8-20.9-.2-.9-.2-1.8-.3-2.8zm-20.8-23.6c6.2 0 11.2 5 11.2 11.2 0 6.2-5 11.2-11.2 11.2-6.2 0-11.2-5-11.2-11.2.1-6.1 5.1-11.2 11.2-11.2zm-26.7-16.1c6.2 0 11.2 5 11.2 11.2 0 6.2-5 11.2-11.2 11.2-6.2 0-11.2-5-11.2-11.2 0-6.2 5-11.2 11.2-11.2zm-26.3 16.1c6.2 0 11.2 5 11.2 11.2 0 6.2-5 11.2-11.2 11.2-6.2 0-11.2-5-11.2-11.2 0-6.1 5-11.2 11.2-11.2zm25.7 33.1c-3.7 0-6.6-3-6.6-6.6 0-1 .2-2 .6-2.8 1.1-2.2 3.3-3.8 6-3.8s4.9 1.5 6 3.8c.4.9.6 1.8.6 2.8 0 3.6-2.9 6.6-6.6 6.6z'/%3e%3c/g%3e%3cg id='Ebene_8'%3e%3cpath class='st4' d='M224 81v24H74L36 220V81z'/%3e%3cpath class='st4' d='M79 112L43.3 220h188L267 112H79zm66 92l-.1-76.5L184 166l-39 38z'/%3e%3cpath class='st7' d='M36 220h18M231.3 220h-188'/%3e%3c/g%3e%3c/svg%3e");
}
.playbutton-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23FFF' d='M225 150l-123.6 80.3V70.6'/%3E%3C/svg%3E");
}
.documentation-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23FFF' d='M201.1 64H99.3c-7.6 0-13.9 6.2-13.9 13.9v145.7c0 7.6 6.2 13.9 13.9 13.9h101.8c7.6 0 13.9-6.2 13.9-13.9V77.9c0-7.7-6.3-13.9-13.9-13.9zm-1 154.6c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.8-1 2.5zm0-18.6c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5zm0-18.5c-.6.6-1.5 1-2.5 1h-94.8c-1.9 0-3.5-1.6-3.5-3.5 0-.9.4-1.8 1-2.5.6-.6 1.5-1 2.5-1h94.8c1.9 0 3.5 1.6 3.5 3.5 0 1-.4 1.9-1 2.5z'/%3E%3C/svg%3E");
}
.tutorials-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23FFF' d='M251.9 195.9V64H46.1v131.9h75.5v15.4H99.3V237H197v-25.7h-22.3v-15.4h77.2zm-199.4-6.8V72.6h193v116.5h-193z'/%3E%3Cpath fill='%23FFF' d='M156.8 143.7v13.6c0 3.8-2.8 6.9-6.3 6.9H147c-3.4 0-6.3-3.1-6.3-6.9v-13.6'/%3E%3Cpath fill='none' stroke='%23FFF' d='M167.1 132.7h17M113.9 132.7h17M133.3 123.6l-14.7-8.5M140 117l-8.6-14.8M149 114.6V97.5M158 117l8.6-14.8M164.7 123.6l14.7-8.5'/%3E%3Ccircle fill='%23FFF' cx='148.6' cy='133.5' r='15'/%3E%3C/svg%3E");
}
.help-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'%3E%3Cpath fill='%23FFF' d='M139.4 195.1c-.1-2.8-.1-4.9-.1-6.3 0-8.2 1.2-15.3 3.5-21.2 1.7-4.5 4.4-9 8.2-13.6 2.8-3.3 7.8-8.2 15-14.6s11.9-11.5 14.1-15.3c2.2-3.8 3.2-7.9 3.2-12.4 0-8.1-3.2-15.3-9.5-21.4-6.3-6.1-14.1-9.2-23.3-9.2-8.9 0-16.3 2.8-22.3 8.4-6 5.6-9.9 14.3-11.7 26.1L95 113.1c1.9-15.9 7.7-28 17.2-36.4s22.3-12.7 38-12.7c16.6 0 29.9 4.5 39.8 13.6s14.9 20 14.9 32.8c0 7.4-1.7 14.3-5.2 20.5-3.5 6.3-10.3 13.9-20.4 22.9-6.8 6-11.3 10.5-13.3 13.3s-3.6 6.1-4.6 9.9c-1 3.7-1.6 9.7-1.7 18.1h-20.3zm-1.3 41.9v-23.8h23.8V237h-23.8z'/%3E%3C/svg%3E");
}
.icons {
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  color: #404040;
}
.icons:hover {
  text-decoration: none;
}
.float-icon {
  float: left;
  margin-right: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 900px) {
  .float-icon {
    float: none;
    text-align: center;
    margin: 0;
    display: block;
  }
  .float-icon .header-icon {
    background-position: center;
    display: inline-block;
  }
}
.icons-vertical {
  font-size: 1.5em;
  color: #404040;
  line-height: 60px;
  vertical-align: middle;
}
.icons-vertical:hover {
  text-decoration: none;
}
#documentation {
  background-color: #e9e9e9;
}
.sidebar {
  position: relative;
  flex: 0 0 250px;
  background-color: #eee;
  padding: 20px;
}
@media screen and (max-width: 1100px) {
  .sidebar {
    flex: 0 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}
.sidebar .search-container {
  text-align: right;
  width: 250px;
}
.sidebar .search-container #search {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgray;
  width: 220px;
  margin-bottom: 2em;
  background: none;
  padding: 5px 30px 5px 5px;
}
@media screen and (max-width: 1100px) {
  .sidebar .search-container #search {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 24px;
    padding-left: 20px;
  }
}
.sidebar .search-container svg {
  vertical-align: top;
}
.sidebar .accordion-pane {
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
@media screen and (max-width: 1100px) {
  .sidebar .accordion-pane {
    display: none;
  }
}
.sidebar .accordion-pane .accordion-title {
  padding: 5px;
  margin: 0;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.sidebar .accordion-pane a {
  font-weight: 500;
}
.sidebar .accordion-pane .accordion-icon {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath fill='none' stroke='%23666' stroke-width='10' d='M20 35l30 30 30-30'/%3E%3C/svg%3E") no-repeat 50% 50%;
  background-size: 24px 24px;
  width: 16px;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 0;
}
.sidebar .accordion-pane .accordion-content {
  padding: 20px;
  display: none;
}
.sidebar .accordion-pane.expanded {
  background-color: #e6e6e6;
  margin-top: 5px;
}
.sidebar .accordion-pane.expanded .accordion-title {
  background-color: #cccccc;
}
.sidebar .accordion-pane.expanded .accordion-content {
  display: block;
}
.sidebar .accordion-pane.expanded .accordion-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cpath fill='none' stroke='%23666' stroke-width='10' d='M20 65l30 -30 30 30'/%3E%3C/svg%3E");
}
.sidebar .changes-toc li,
.sidebar .changes-toc > li > div {
  margin-bottom: 0.5ex;
}
.sidebar .changes-toc > li {
  margin-bottom: 1ex;
}
.demo-items > div {
  font-size: 14px;
  line-height: 2em;
}
.demo-items > div:not(:last-of-type) {
  margin-bottom: 5px;
}
.demo-items > div.filtered {
  opacity: 0.5;
}
@media screen and (max-width: 900px) {
  footer {
    text-align: inherit;
  }
}
.demo-grid {
  display: block;
  margin-top: 2em;
}
.demo-grid .grid-item {
  background-color: #eee;
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  width: 230px;
  height: 295px;
  margin: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  transition: box-shadow 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.demo-grid .grid-item:hover,
.demo-grid .grid-item:focus {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.demo-grid .grid-item:hover .description,
.demo-grid .grid-item:focus .description {
  height: 195px;
}
.demo-grid .grid-item:hover .description .details,
.demo-grid .grid-item:focus .description .details {
  opacity: 1;
}
.demo-grid .grid-item:hover .thumbnail,
.demo-grid .grid-item:focus .thumbnail {
  height: 100px;
}
.demo-grid .grid-item:hover .thumbnail > a,
.demo-grid .grid-item:focus .thumbnail > a {
  opacity: 0.6;
}
.demo-grid .grid-item:hover .thumbnail .actions,
.demo-grid .grid-item:focus .thumbnail .actions {
  opacity: 0.7;
}
.demo-grid .grid-item:hover .thumbnail .actions:hover,
.demo-grid .grid-item:focus .thumbnail .actions:hover {
  opacity: 1;
}
.demo-grid .grid-item.filtered {
  display: none;
}
.demo-grid .grid-item .thumbnail {
  position: relative;
  overflow: hidden;
  height: 200px;
  transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .thumbnail .category {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 6px 10px;
  background-color: #336699;
  color: #f0f0f0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
}
.demo-grid .grid-item .thumbnail a {
  display: block;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .thumbnail .actions {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .thumbnail .actions a {
  font-size: 14px;
  color: #333;
  line-height: 22px;
  height: 20px;
  display: inline-block;
}
.demo-grid .grid-item .thumbnail .actions a.action-run {
  background: url("data:image/svg+xml,%3Csvg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z'/%3E%3C/svg%3E") no-repeat;
  background-size: 60px 60px;
  padding: 30px;
}
.demo-grid .grid-item .thumbnail .actions a.action-source {
  background: url("data:image/svg+xml,%3Csvg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z'/%3E%3C/svg%3E") no-repeat;
  background-size: 20px 20px;
  padding-left: 20px;
}
.demo-grid .grid-item .description {
  position: relative;
  padding: 10px;
  height: 95px;
  box-sizing: border-box;
  overflow: hidden;
  transition: height 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .description .title {
  position: relative;
  margin: 0;
  font-size: 1.1em;
  z-index: 1;
  font-weight: 500;
}
.demo-grid .grid-item .description .title a {
  padding: 3px;
}
.demo-grid .grid-item .description .title a:focus {
  outline: 2px solid #336699;
}
.demo-grid .grid-item .description .details {
  margin: 0.5em 0 0 0;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .tags {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 5px 10px;
  transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.demo-grid .grid-item .tags .tag {
  display: inline-block;
  font-size: 11px;
  background-color: #a7d2ff;
  padding: 0 6px;
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 5px;
  margin-right: 5px;
}
footer {
  font-family: 'News Cycle', 'Source Sans Pro', 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', Calibri, Helvetica, Arial, sans-serif;
  background-color: #454545;
  text-align: center;
  color: #d2d2d2;
  display: block;
  font-size: 14px;
  padding: 20px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #7da3c9;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 900px) {
  footer {
    text-align: inherit;
  }
}
footer h4 {
  color: #79a4d0;
  text-transform: uppercase;
}
footer .footer-block {
  vertical-align: top;
  text-align: left;
  padding: 5px 20px;
  display: inline-block;
}
@media screen and (max-width: 900px) {
  footer .footer-block {
    text-align: inherit;
  }
}
footer .logo {
  height: 100%;
  max-height: 200px;
  max-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  footer .logo {
    display: none;
  }
}
footer .social a {
  margin-right: 5px;
}
footer .copyright {
  display: inline-block;
}
