<!--
  cdkDropList directive will give you a list that can have multiple drag and drop items with in it

 -->
<div
  cdkDropList
  cdkDropListOrOrientation="horizontal"
  class="boards"
  (cdkDropListDropped)="drop($event)"
>
<app-board cdkDrag *ngFor="let board of boards" [board]="board">
  <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
</app-board>


<div class="board-button">
  <button mat-raised-button color="accent" cdkDragDisabled (click)="openBoardDialog()">
    New Board
  </button>
</div>

</div>
