<div class="container-fluid">
    <h2>Registration Form</h2>
    <!--
        on the <form> tag we use formGroup directive and
        bind the registrationForm FormGroup

        to bind each of the form controls we use the formControlName directive
      -->
    <form [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()">
        <div class="form-group">

            <div class="form-group">
                <label>Password</label>
                <input type="password"
                       formControlName="password"
                       class="form-control"/>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password"
                       [class.is-invalid]="registrationForm.errors?.misMatch"
                       formControlName="confirmPassword"
                       class="form-control"/>
                <small class="text-danger"
                       *ngIf="registrationForm.errors?.misMatch">Passwords do not match</small>
            </div>

            <div class="form-group">
                <label>Email</label>
                <button type="button"
                        class="btn btn-secondary btn-sm m-2"
                        (click)="addAlternateEmail()">
                    Add e-mail
                </button>
                <input type="text"
                       [class.is-invalid]="email.invalid && email.touched"
                       formControlName="email"
                       class="form-control"/>
                <small class="text-danger"
                       [class.d-none]="email.valid || email.untouched">Email is required</small>

                <!-- BEGIN DYNAMIC FORM CONTROL -->
                <div formArrayName="alternateEmails"
                     *ngFor="let email of alternateEmails.controls; let i = index">
                    <input type="text"
                           class="form-control my-1"
                           [formControlName]="i"/>
                </div>
                <!-- END DYNAMIC FORM CONTROL -->

            </div>

            <div class="form-check mb-3">
                <input class="form-check-input"
                       formControlName="subscribe"
                       type="checkbox"/>
                <label class="form-check-label"> Send me promotional offers </label>
            </div>

            <div formGroupName="address">
                <div class="form-group">
                    <label>City</label>
                    <input type="text"
                           formControlName="city"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>State</label>
                    <input type="text"
                           formControlName="state"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Postal Code</label>
                    <input type="text"
                           formControlName="postalCode"
                           class="form-control"/>
                </div>
            </div>

            <button class="btn btn-primary"
                    [disabled]="!registrationForm.valid"
                    type="submit">
                Register
            </button>
            <button (click)="loadAPIData()"
                    class="btn btn-secondary ml-2"
                    type="button">
                Load API Data
            </button>
        </div>
    </form>

    {{ registrationForm.status | json }}
    {{ registrationForm.value | json }}
</div>
