<div class="container-fluid">
  <h2>Bootcamp Enrollment Form</h2>

  <!--
   any time we use a <form> tag angular attaches ngForm directive to the <form> tag which gives us valuable information about that particular form

   ngForm tells what the values of the different form controls are and whether the values are valid or invalid

   to get a hold of a reference to ngForm directive we use a template reference variable ngForm directive gives us the entire information about the template driven form

   #userForm="ngForm"
   by assigning ngForm to a reference variable we have a reference to the directive itself

   directive gives us access to the values of the form controls it does so using the value property

   we let angular know of the controls to be tracked using NGMODEL directive

   so EACH OF THE FORM CONTROL let's place the ngModel directive

   along with the ngModel directive the NAME ATTRIBUTE is very much NECESSARY

   input values correspond to the text in the field
   radio button values correspond to the value attribute
   select tag corresponds to value attribute if present else it just corresponds to the text that that is there
   checkbox corresponds to either true or false

   Angular Forms Tutorial - 12 - Submitting form data
   1. novalidate will prevent browser validation from kicking in when we click on the submit button
   2. bind to the ngSubmit event which gets emitted when the submit button is clicked

   *ngIf="!submitted"
   only show the form if it HAS NOT SUBMITTED. when clicking submit button form disappears. this is NOT THE BEST SOLUTION
   it is ADVISABLE TO DISABLE or HIDE the submit button ONCE it has been clicked
  -->
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  
  <form #userForm="ngForm"
        *ngIf="!submitted"
        (ngSubmit)="onSubmit(userForm)"
        novalidate>

    <!-- BEGIN ngModelGroup

      we assign a name called `address` to the ngModelGroup directive
    -->
    <div ngModelGroup="address">

      <div class="form-group">
        <label>Street</label>
        <input type="text"
               class="form-control"
               name="street"
               ngModel>
      </div>

      <div class="form-group">
        <label>City</label>
        <input type="text"
               class="form-control"
               name="city"
               ngModel>
      </div>

      <div class="form-group">
        <label>State</label>
        <input type="text"
               class="form-control"
               name="state"
               ngModel>
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input type="text"
               class="form-control"
               name="postalCode"
               ngModel>
      </div>

    </div>
    <!-- END ngModelGroup -->

    {{userForm.value | json}}

    <!--
      BEGIN Angular Forms Tutorial - 11 - Form validation
      ngForm provides the OVERALL FORM VALIDATION
      this can be USED TO DISABLE THE SUBMIT BUTTON of the form until the form is valid
     -->
    {{userForm.form.valid}}
     <!--
      END Angular Forms Tutorial - 11 - Form validation
     -->

    <!-- horizontal line with the separation -->
    <hr />

    {{userModel | json}}

    <!--
      BINDING MODEL TO THE FORM
      we bind the  properties of the model to the ngModel directive
      and for property binding we make use of
      property data binding -> [ngModel]="MODEL_INSTANCE.MODEL_PROPERTY"

      !!! if we use property data binding which is one way binding, angular's object has the updated value but the model STILL CONTAINS THE OLD VALUE
      so the data flows from the class to the view but it does not flow from the view back to the class

      what we really want when working with forms is TWO-WAY BINDING

      so for each form control change
      [ngModel]="MODEL_INSTANCE.MODEL_PROPERTY"
      =====>
      [(ngModel)]="MODEL_INSTANCE.MODEL_PROPERTY"

      with TWO-WAY BINDING we ALWAYS have the MODEL and VIEW IN SYNC
      -->
    <div class="form-group">
      <label>Name</label>
      <!--
        https://www.youtube.com/watch?v=WyWJwR0FJV0&list=PLC3y8-rFHvwhwL-XH04cHOpJnkgRKykFi&index=7

        name template reference variable POINTS to the input element in the DOM
              <input type="text" #name>
              {{name.classname}}
              ====>
              ng-untouched ng-pristine ng-valid


              #name="ngModel"
              create a reference to ngModel directive
              the template reference variable points to the ngModel of this PERTICULAR form control
              {{name.untouched}}

        https://www.youtube.com/watch?v=kFHkztHm8xA&list=PLC3y8-rFHvwhwL-XH04cHOpJnkgRKykFi&index=8
        the invalid class is applied only when the form control is INVALID
        for that we make use of the ngModel properties coupled with CLASS BINDING
              [class.CLASS_NAME_THAT_HAS_TO_BE_CONDITIONALLY_APPLIED]
              [class.is-invalid] -> bootstrap is-invalid
              [class.is-invalid] has to be applied ONLY when the form control is invalid

       -->
      <input type="text"
             #name="ngModel"
             required
             class="form-control"
             [class.is-invalid]="name.invalid && name.touched"
             name="name"
             [(ngModel)]="userModel.name">
      <small class="text-danger"
             [class.d-none]="name.valid || name.untouched">Name is required</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email"
             class="form-control"
             name="email"
             [(ngModel)]="userModel.email">
    </div>

    <!--
      pattern attribute with the regex
     -->
    <div class="form-group">
      <label>Phone</label>
      <input type="tel"
             #phone="ngModel"
             required
             pattern="^\d{10}$"
             class="form-control"
             [class.is-invalid]="phone.invalid && phone.touched"
             name="phone"
             [(ngModel)]="userModel.phone">
      <!--
        class binding alternative
        <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
          Phone number must be 10 digits
        </small>

        .errors property on the ngModel

        this <div> tag will be conditionally rendered based on whether the phone number field
          has an error or not
          and for that we use the ngIf directive along with the ngModel properties

        if `phone` field has errors and the `phone` state is invalid or the `phone` state has been visited only then render this <div> tag
      -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <!--
          SEPARATE ERROR MESSAGES

          first message is phone number is required
         -->
        <small class="text-danger"
               *ngIf="phone.errors.required">Phone number is required</small>
        <!--
          second message phone number must be ten digits
         -->
        <small class="text-danger"
               *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>
      </div>
    </div>

    <div class="form-group">
      <select class="custom-select"
              (blur)="validateTopic(topic.value)"
              (change)="validateTopic(topic.value)"
              #topic="ngModel"
              [class.is-invalid]="topicHasError && topic.touched"
              name="topic"
              [(ngModel)]="userModel.topic">
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
      <small class="text-danger"
             [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="timePreference"
               value="morning"
               [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               name="timePreference"
               value="evening"
               [(ngModel)]="userModel.timePreference">
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input"
             type="checkbox"
             name="subscribe"
             [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <!--
      bind disable property to the INVALID state of the form

      it is ADVISABLE TO DISABLE or HIDE the submit button ONCE it has been clicked

      that is because it might CAUSE SERIOUS PROBLEMS WHEN MAKING PAYMENTS
      or CHECKING OUT on e-commerce sites for example

      when form is submitted we simply hide the entire form that gives appearance of the form being submitted as well
     -->
    <button class="btn btn-primary"
            [disabled]="userForm.form.invalid || topicHasError"
            type="submit">Submit form</button>

  </form>
  <div class="alert alert-danger"
       *ngIf="errorMsg">
    {{errorMsg}}
  </div>
</div>
