<main>

  <div *ngIf="!(afAuth.authState | async)">
    <h1>Login</h1>
    <!--
    appGoogleSignin is our custom directive
    button will automatically inherit appGoogleSignin behaviors
    so we dont need to setup click handler or any like that on the button itself
    -->
    <button mat-raised-button appGoogleSignin>
      <img src="/asserts/google-logo.svg" /> Login with google
    </button>
  </div>

  <h5>OR</h5>

  <app-email-login></app-email-login>

  <div *ngIf="afAuth.authState | async as user" class="logout">
    <p>
      Logged in as <strong>{{user.email}}</strong>
    </p>

    <button mat-stroked-button (click)="afAuth.auth.signOut()">Logout</button>
  </div>

</main>
